watchdog
pillow
numpy
requests
fastapi
uvicorn
pydantic
python-multipart
sqlalchemy
psycopg2-binary; platform_system != "Windows"
psycopg2; platform_system == "Windows"
python-dotenv
opencv-python
pytesseract
ultralytics
packaging
torch
torchvision